*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    

}
#login-container{
    width:400px;
    height: 400px;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);}

#heading{
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#username, #password{
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
}
#login-button{
    width: 78%;
    padding: 10px;
    margin: 25px auto;
    border-radius: 5px; 
    display: block;
}
.credetials{
    width: 80%;
    height: 10px;
    padding: 0px;
    margin: 1px auto;
    border-radius: 5px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(136, 136, 136)
}
hr {
    width: 80%;
    margin: -15px auto 30px;
    border: 1px solid #9d9d9d;
}

#necessary{
    text-align: center;
    margin: -20px auto;
    color: hsl(38, 100%, 50%);
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
#user-name{
    margin-top: 5px ;
    font-size: larger;
}

#head{
    font-size: 27px;
    color: hsl(0, 100%, 50%);
    text-align: center;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.points{
    font-size: 22px;
    color: hsl(0, 0%, 16%);
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.instructions{
    margin-left: 120px ;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman';
    color: hsl(0, 0%, 16%);
    line-height: 1.5;
}
.status-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    margin-right: 10px;
    display: inline-block;
    flex-shrink: 0;
}
.gray { background: #ccc; }
.orange { background: #e14401; }
.green { background: #2cc000; }
.blue { background: #451b87; }
.red { background: red; }

#line{
    width: 80%;
    margin: 20px auto;
}
#imp{
    text-align: center;
    color: hsl(0, 100%, 50%);
    font-family: Arial, Helvetica, sans-serif;
}
.note {
    display: flex;
    align-items: flex-start;  
    gap: 10px;
    width: 80%;
    margin: 15px auto;
    line-height: 1.4;
    font-size: 17px;
    color:hsl(0, 2%, 35%)
}

.note input {
    margin-top: 3px;   
}
#proceed {
    display: block;
    width: 70%;
    margin: 20px auto;

    padding: 12px 0;

    background-color: #5cb85c;
    color: white;

    border: none;
    border-radius: 3px;

    font-weight: bold;
    letter-spacing: 1px;

    text-align: center;   
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#candidate-info{
    display: flex;
    align-items: center;
    gap: 15px;

}

#candidate-img{
    width:60px;
    height: 60px;
    border-radius: 10px;
}
#candidate-name{
    color: #f8931e;
}
#exam-name{
    color: #f8931e ;
}
#timer{
    background-color: rgb(0, 153, 255);
    color: white;
    border-radius: 7px;
    padding: 0px 10px;}

#subject-tabs{
    display:flex;
    gap: 10px;
    margin: 20px auto;
    padding:10px
}
.tab{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #bbb;
    border-radius: 4px;
    font-weight: bold;

}
.tab.active{
    background-color: #ff6600;
    color: white;
}
#main{
    display: flex;
    height: calc(100vh - 160px);
}

#question-area{
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    border-right:2px solid #ccc
}
#question-number {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: none;
}
#question-divider {
  border: 1px solid #434343;
  margin: 10px 0;
}
#question-text {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.8;
}
.option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
#action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:50px;
}
#nav-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    background-color: #f5f5f5;
    padding: 15px;
}
.btn{
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn.green  {background-color:#5cb85c; color: white;border:2px #50b050 solid;}
.btn.white   {  border: 2px #d8d8d8 solid; }
.btn.orange { background-color: #f0ad4e; color: white;border:2px #eea43c solid }
.btn.blue { background-color: #337ab7; color: white;border:2px #2f70a8 solid }
.btn.gray {  border:1px solid black;color: black; }

#palette {
    flex: 1.4;
    padding: 15px;
    overflow-y: auto;
    border-left: 2px solid #ccc;
    background-color: #f9f9f9;
}
#legend{
    margin-bottom: 15px;
    border: 2.5px dashed rgb(84, 84, 84);
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
}
.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
#palette-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    margin-top: 10px;
}
.palette-btn {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    background-color: #ccc;
    color: white;
}
.palette-btn.not-visited  { background-color: #ccc; }
.palette-btn.not-answered { background-color: orange; }
.palette-btn.answered     { background-color: green; }
.palette-btn.marked       { background-color: blue; }
.palette-btn.answered-marked { background-color: red; }

#footer {
    text-align: center;
    padding: 10px;
    background-color: #012b55;
    font-size: 12px;
    border-top: 1px solid #ccc;
}